a:link {color: black;}
a:visited {color: black;}


#sidor{
    float: left;
    width: 80%;
    margin-left: 10%;

}
#sidor div{
    margin-left: 17%;
    float: left;
}
#index-rubrik{
    margin-left: 33%;
    font-weight: bold;
}
#meny-rubrik{
    margin-left: 42%;
    margin-top: 10px;
}
#kontakt-rubrik{
    margin-left: 42%;
}

#mat-menyn p{
    margin-top: -10px;

}

#mat-menyn-vänster{
    float: left;
    width: 40%;
    margin-left: 13%;
}

#mat-menyn-höger{
    float: left;
    width: 40%;
}
#mat-menyn-höger h2{
    font-weight: bold;
}
#mat-menyn-vänster h2{
    font-weight: bold;
}
#meny-background{
    margin-left: 10%;
    width: 80%;
}
#meny-background h1{
    font-weight: bold;
}


#kontakt-background h2{
    margin-left: 30%;
    margin-top: 30px;
    font-weight: bold;
}
#kontakt-background h1{
    font-weight: bold;
}
#kontakt-background h3{
    margin-left: 30%;
}

#pizzaimg{
    float: left;
    margin-left: 17%;

}